<!-- Introduction -->
<section class="about-intro">
    <h1>About Sukhmani</h1>
    <img src="/path/to/your/photo.jpg" alt="Sukhmani" class="profile-photo-large">
    <p>Hi there! I'm Sukhmani, a Computer Programming major with a relentless passion for technology and innovation.</p>
</section>

<section class="education-section">
    <h2>Early Life & Education</h2>
    <p> Growing up, I was always drawn
        towards technology. I am pursuing my education at Georgean College, where I majored in Computer Programming
        and became a part of various tech-related activities and societies.</p>
</section>

<section class="journey-section">
    <h2>My Journey in Computer Programming</h2>
    <p>My adventure with coding began when saw the first computer game as 7 years kid. Since then, I've embarked on
        numerous
        projects, from web design to complex algorithms, always seeking to push my limits. My projects, some of which
        you can find on this website, reflect my dedication and passion for the craft.</p>
</section>

<section class="hobbies-section">
    <h2>Interests & Hobbies</h2>
    <p>Beyond the world of code, I cherish playing Guita. Music has always been my
        escape. I also enjoy bike riding, which allows me to reconnect with nature and rejuvenate
        my spirit.</p>
</section>

<section class="aspirations-section">
    <h2>Future Aspirations</h2>
    <p>I envision a future where technology seamlessly integrates with our daily lives. I aspire to be at the forefront
        of this integration, crafting solutions that not only work but inspire. I'm always on the lookout for new
        challenges and collaborations, pushing the boundaries of what's possible.</p>
</section>