<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About Me</a>
      <a href="/projects">Projects</a>
      <a href="/contact">Contact Me</a>
    </nav>
  </header>

  {{{body}}}

  <footer>
    <a href="https://github.com/Sukhmani080317">GitHub</a>
    <a href="YOUR_LINKEDIN_LINK">LinkedIn</a>
  </footer>
</body>

</html>