<h1 class="page-title">My Projects</h1>
<div class="projects-container">

    <div class="project-card">
        <h2 class="project-title">Interface And Web Design Assignment 2</h2>
        <p class="project-description">A web design project focusing on interface and user experience principles.</p>
        <a class="project-link" href="https://github.com/Sukhmani080317/InterfaceAndWebDesignAssignment2"
            target="_blank">View on GitHub</a>
    </div>


    <div class="project-card">
        <h2 class="project-title">COMP2068 JS Frameworks</h2>
        <p class="project-description">Exploration of various JavaScript frameworks for web development.</p>
        <a class="project-link" href="https://github.com/Sukhmani080317/COMP2068JSFrameworks" target="_blank">View on
            GitHub</a>
    </div>

    <div class="project-card">
        <h2 class="project-title">Assignment 1 CSS</h2>
        <p class="project-description">A CSS-based assignment focusing on styling and visual design principles.</p>
        <a class="project-link" href="https://github.com/Sukhmani080317/Assignment1CSS" target="_blank">View on
            GitHub</a>
    </div>

</div>